@import '@styles/variable.scss';
.tag{
    width:max-content;
    margin-left: 10px;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    border-radius: 8px;
    background-color: $red-color; 
    font-family: PingFangSC-Medium;
}
.oxtag{
    background-color:$contract-color;
}
.extag{  
    padding: 4px 12px; 
    margin-bottom: 10px;
    background-color: $primary-color;
}