.pBox{
    height: 100%;
    box-sizing: border-box;
    margin: 32px;
    padding: 32px; 
    background-color: #fff;
    border-radius: 16px;
    font-size: 24px;
    color:#333;
    box-shadow: 0px 6px 36px 0px rgba(66, 66, 70, 0.08);
   .pwop{ 
       padding-top: 16px;
       border-bottom: 1px solid #eee;
       padding-bottom: 16px;
       margin-bottom: 16px;
       &:last-child{
           border-bottom: none;
       }
       .tp{
           display: flex;
           align-items: center;
           justify-content: space-between;
           padding-bottom: 16px;
           margin-bottom: 16px; 
       }
       .pc{  
           line-height: 40px;
       }
       .pi{
           font-weight: 500;
           line-height: 50px;
       }
       .pw{
           font-weight: 500;
           line-height: 50px;
       }
       .po{
           font-size: 24px;
           line-height: 36px;
       }
       .minibox{
            margin-top: 20px; 
            padding:20px;
            text-align: center;
            background-color: rgba(216, 214, 211, 0.342);
        .otherMiniImg{
            width: 80px;
            height: 80px;
            margin: 0 auto;
        }
       }
   }
}