@import '@styles/variable.scss';
.BaseConx{
    width: 100%;
    height: 100vh;
    padding: 60px 0 112px 0;
    // background-image: url('../../assets/backgroundImg/background1.jpeg');
    // background-size: 100% 100%;
    // background-repeat: no-repeat;  
    box-sizing: border-box;   
    background-color: #eee; 
    overflow: hidden;
    .scrollStyle{  
        height: calc( 100vh - 420px);
        padding: 32px;
        overflow-y: scroll;
    }
    .text{
        width: 100%;
        height: 180px;
        padding: 32px 40px; 
        border-radius: 16px;
        box-sizing: border-box;
        background-color: #fff; 
        box-shadow: 0px 6px 36px 0px rgba(66, 66, 70, 0.08);
        display: flex;
        align-items: center; 
        .avtars{  
            width: 120px;
            height: 120px;
            border-radius: 50%;
            box-sizing: border-box;
            background-color: #fff; 
            .Img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .sention{   
            flex: 1; 
            height: 90px;
            display: flex; 
            flex-direction: column;
            justify-content: space-between; 
            font-size: 24px;
            color: rgb(150, 148, 148);  
            padding: 0 32px; 
            .name{
                font-size: 32px;  
                color: #333;
                line-height: 40px; 
                display: flex;
                align-items: center;

            }
        }
    }

    .box{
        width: 100%;
        margin: 26px 0; 
        border-radius: 16px;
        padding: 32px;
        color: rgb(150, 148, 148);
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: 0px 6px 36px 0px rgba(66, 66, 70, 0.08);
        .psg{
            font-size: 28px;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        } 
        .tg{
            box-sizing: border-box; 
            .clr{
                clear: both;
            }
        }
        .bk{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 28px;
            margin-top: 20px;
        }
    }
}